* {
    font-family: 'ZCOOL XiaoWei', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav ul{
    padding: 30px;
    margin: 50px;
}
#nav ul li{
    display: inline;
    margin: 50px;
}

header{
    padding: 20px;
}